.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  color: var(--mid-grey);
  border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);

  // Only Header
  .header {
    padding-block: 1rem;

    .icon {
      font-size: 1rem !important;

      cursor: pointer !important;
      &:hover,
      &.active {
        color: var(--accent);
      }
    }

    .search-bar {
      min-width: 60vw;
      position: relative;

      .icon {
        position: absolute;
        left: 1rem;
        top: 33%;
      }

      .form-box {
        font-size: 1rem;
        width: 100%;
        padding: 0.8rem 2rem;
        padding-left: 3rem;
        border: none;

        &::placeholder {
          color: var(--light-grey);
        }

        &:focus {
          outline: none;
        }
      }
    }

    .invite {
      text-transform: uppercase;

      .icon {
        margin-right: 0.4rem;
      }

      &:hover {
        color: var(--accent);
      }
    }

    .profile {
      color: white;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: var(--accent);
      position: relative;

      // .name {
      //   color: white;
      // }

      .online-indicator {
        position: absolute;
        bottom: -2px;
        right: -2px;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        border: 2px solid white;
        background-color: var(--green);
      }

      .new-notification {
        font-size: 0.6rem;
        background-color: var(--notification);
        border-radius: 20px;
        border: 2px solid white;
        position: absolute;
        top: -3px;
        right: -22px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.2rem;
      }
    }
  }

  // Nav Bar

  .nav-bar {
    margin-top: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
    // box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.1);

    .menu-bar {
      li {
        padding-inline: 0.3rem;
        padding-bottom: 0.8rem;
        border-bottom: 3px solid transparent;
        cursor: pointer;

        &:first-child {
          margin-left: -1rem;
        }

        &:hover {
          color: var(--accent);
        }

        &.active {
          border-color: var(--accent);
        }

        button {
          text-transform: capitalize;
        }
      }

      .no-border {
        border: none !important;
      }
    }
  }

  .hidden {
    display: none;
    padding-inline: 1rem;
    padding-bottom: 1rem;
  }
}
